
button {
    cursor: pointer;
}
.btn {
    display: block;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    border-color: transparent;
    background: transparent;
}
@media screen and (min-width: 768px) {
    .btn {
        margin-top: 60px;
    }
}

.btn :hover {
    fill: #2196F3;
}