.ice {

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #131313;
    margin-bottom: 12px;
    margin-top: 60px;
}

.about {
    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #131313;
    margin-top: 15px;
    margin-bottom: 148px;
}

.img-ice {
    position: absolute;
    width: 200px;
    height: 200px;
    top: -215px;
    right: 40px;
}

.cards {
    position: relative;
    width: 280px;
}

.ice-card {
    display: flex;
    flex-wrap: wrap;
    gap: 150px;
    justify-content: center;
}

.name-ice-name {
    text-align: center;

}

.ice-name {
    text-align: center;
    margin-bottom: 35px;
    margin-top: 125px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 37px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #131313;
}

.name {
    width: 200px;
    height: 124px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 176%;
    letter-spacing: 0.04em;
    color: #131313;
    margin-left: auto;
    margin-right: auto;
}