.ice {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #131313;
    margin-bottom: 12px;
    margin-top: 60px;
        @media screen and (min-width: 768px) {
            font-size: 22px;
        }
        @media screen and (min-width: 1200px) {
            font-size: 30px;
            margin-top: 0;
        }
        }


.about {
    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #131313;
    margin-top: 15px;
    margin-bottom: 148px;

    @media screen and (min-width: 768px) {
            font-size: 34px;
             }
    @media screen and (min-width: 1200px) {
        font-size: 36px;
        margin-bottom: 220px;
             }
        }

.products__img {
    position: absolute;
    width: 200px;
    height: 200px;
    top: -90px;
    right: 40px;
    @media screen and (min-width: 768px) {
            right: 11px;
    }
    @media screen and (min-width: 1200px) {
        width: 300px;
        height: 300px;
        right: 33px;
        top: -283px;
}
}

.products__cards {
    position: relative;
    width: 280px;
    @media screen and (min-width: 768px) {
            width: 225px;
        }
    @media screen and (min-width: 1200px) {
            width: 370px;
        }
}

.products {
    display: flex;
    flex-wrap: wrap;
    gap: 150px;
    justify-content: center;
@media screen and (min-width: 768px) {
        display: flex;
            gap: 16px;
            justify-content: center;
    }
}

.products__ice-name {
    text-align: center;
}

.products__title {
    text-align: center;
    margin-bottom: 35px;
    margin-top: 90px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 37px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #131313;
    @media screen and (min-width: 768px) {
            font-size: 22px;
            margin-bottom: 25px;
            margin-top: 130px;
        }
        @media screen and (min-width: 1200px) {
            font-size: 30px;
        }
}

.products__txt {
    width: 200px;
    height: 124px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 176%;
    letter-spacing: 0.04em;
    color: #131313;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    @media screen and (min-width: 768px) {
            width: 172px;
            height: 174px;
        font-size: 14px;
        }
    @media screen and (min-width: 1200px) {
            width: 242px;
                height: 142px;
        font-size: 16px;
        }
}